hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        background-color: var(--cinza-rodape);
        padding: 3.5em 3em 3.5em 1.5em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .rodape__titulo {
        font-size: 24px;
        font-weight: 400;
        padding-top: 0.3em;
    }

    .rodape__lista {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1em;
    }

    .rodape__lista-titulo {
        font-size: 14px;
        color: var(--cinza);
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }

    .rodape__lista-item {
        display: flex;
        column-gap: 0.5em;
        align-items: center;
    }

    .rodape__lista-item a {
        color: var(--cinza-secundario);
        text-decoration: none;
        font-size: 14px;
    }
}

@media screen and (min-width: 1728px) {

    .rodape {
        justify-content: space-evenly;
    }

    .rodape__titulo {
        padding-top: 0;
    }

    .rodape__lista {
        border-left: 1px solid grey;
        padding-left: 1em;
    }
}