.cabecalho__menu-hamburger {
    width: 22px;
    height: 22px;
    background-image: url("/Imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /* permite mexer na dimensão do elemento */
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* deixa vc usar elementos como top, right, bottom, left */
}

.container {
    display: flex;
    align-items: center;
}

.container__img-hamburger {
    padding: 1.5em 1.5em;
}

.img__logo {
    margin-left: 1em;
}

.sacola-perfil {
    display: flex;
    column-gap: 1em;
    padding: 1em 1.2em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao:checked ~ .lista-menu { /* O '~' é um combinador css, e irá procurar o próximo elemento com a classe descrita para fazer a verificação e mudanças necessárias caso esteja checked */
    display: block;
}

.header__titulo, .navegacao__header, .opcoes__header, .sacola_text, .perfil_text, .container__botao {
    display: none;
}

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburger {
    background-image: url(/Imagens/Menu_Aberto.svg);
}

.container__botao:checked ~ .container__label {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburger, .heart, .botao__categorias {
        display: none;
    }

    .opcoes__header {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
    }

    .botao__categorias:checked ~ .opcoes__label > .label__categorias {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }

    .nav__item {
        color: var(--preto);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        padding: 2em 1em;
    }

    .img__logo {
        margin-left: 3.5em;
    }

    .header__titulo {
        font-family: var(--fonte-secundaria), sans-serif;
        display: block;
        font-size: 30px;
        margin: 0.4em 0 0 0.4em;
    }

    .negrito-titulo {
        font-weight: 700;
    }

    .perfil {
        margin: 0 3.2em 0 2.2em;
    }

    .botao__categorias:checked ~.lista-menu {
        display: block;
        width: 17%;
        left: 30%;
        top: 80%;
    }
}

@media screen and (min-width: 1728px) {

    .cabecalho {
        justify-content: space-between;
    }

    .botao__categorias:checked ~ .lista-menu {
        display: block;
        left: 16.3%;
        width: 10%;
        top: 85%;
    }

    .botao__categorias:checked ~ .opcoes__label > .label__categorias {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    .opcoes__header {
        margin-right: 30em;
    }

    .perfil {
        margin: 0;
    }

    .sacola-perfil {
        margin-right: 3.5em;
    }

    .perfil_text, .sacola_text {
        font-size: 20px;
        font-family: var(--fonte-principal), sans-serif;
    }

    .sacola_text {
        margin-right: 2em;
    }

    .sacola-perfil a{
        display: flex;
    }
}

@media screen and (min-width: 1920px) {
    .botao__categorias:checked ~ .lista-menu {
        left: 18.9%;
    }
}